/* component styling */



.topic_type {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--dark_navy);
    font-size: 1.75rem;
    font-weight: 500;
}

body[night] .topic_type {
    color: var(--white);
}

.img_box {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
}

.img_box[type="accessibility"] {
    background-color: var(--light_purple);
}

.img_box[type="html"] {
    background-color: var(--light_red);
}

.img_box[type="css"] {
    background-color: var(--light_green);
}

.img_box[type="javaScript"] {
    background-color: var(--light_blue);
}

.img_box img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}

.option_item {
    color: var(--gray_navy);
    font-size: 1.75rem;
    padding: 1rem 1.5rem;
    background-color: var(--light_gray);
    border-radius: .5rem;
}

.option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background-color: var(--white);
    padding: 1.25rem;
    border-radius: 1rem;
    cursor: pointer;
    color: var(--gray_navy);
}

body[night] .option {
    color: var(--white);
    background-color: var(--navy);
}

.option:hover .option_item {
    background-color: var(--light_purple);
    color: var(--purple);
}

.option h2 {
    font-size: 1.75rem;
    color: var(--dark_navy);
}

body[night] .option h2 {
    color: var(--white);
}

.option .icon {
    margin-left: auto;
    display: none;
}

.option[state="selected"] {
    border: 3px solid var(--purple);
}

.option[state="selected"] .option_item {
    background-color: var(--purple);
    color: var(--white);
}

.option[state="correct"] {
    border: 3px solid var(--green);
}

.option[state="correct"] .option_item {
    color: var(--white);
    background-color: var(--green);
}

.option[state="correct"] .icon,
.option[state="re_correct"] .icon,
.option[state="in_correct"] .icon {
    display: block;
}

.option[state="correct"] .icon .error,
.option[state="re_correct"] .icon .error {
    display: none;
}

.option[state="in_correct"] {
    border: 3px solid var(--red);
}

.option[state="in_correct"] .option_item {
    color: var(--white);
    background-color: var(--red);
}

.option[state="in_correct"] .icon .correct {
    display: none;
}

.submit_answer {
    color: var(--white);
    font-size: 1.75rem;
    padding: 2rem 0px;
    width: 100%;
    background-color: var(--purple);
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}

.submit_answer:hover {
    background-color: var(--light_purple);
}

input[type="range"] {
    background: linear-gradient(to right, var(--purple) 50%, var(--white) 50%);
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: .5rem;
    outline: none;
}

body[night] input[type="range"] {
    background: linear-gradient(to right, var(--purple) 50%, var(--gray_navy) 50%);
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    display: none;
}

input[type="range"]::-moz-range-thumb {
    display: none;
}